
<%- include ('partials/header.ejs') %>

    <div class="ui text container ">
        <% if(error && error.length != 0) { %>
            <div class="ui negative message" style="text-align:center"><%= error %></div>
        <% } %>
        <% if(success && success.length != 0) { %>
            <div class="ui positive message" style="text-align:center"><%= success %></div>
        <% } %>
    </div>

    <div class="ui main text container segment">
        <form class="ui form" action="/blogs/login" method="POST">
            <h1 class="ui dividing center aligned header"> Want to write Blogs !</h1>
            <div class="field">
                <label> Email</label><span id="email"></span>
                <input type="text" name="email" placeholder="example@gamil.com" required>
            </div>
            <div class="field">
                <label> Password</label><span id="password"></span>
                <input type="password" name="password" required>
            </div>
            <button class="fluid ui inverted big green button" type="submit">Login</button>
        </form>
    </div>

    <a href="<%= google_authentication_url %>">
        <img class="ui centered rounded image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRj_WW6thYh4psL1xxxgI7tw5ZS1ZqxIQFT_24hBa8UbN39vyVg&usqp=CAU" alt="Google login">
    </a>

    <script type="text/javascript" src="/scripts/login.js"></script>

<%- include ('partials/footer.ejs') %>

