<%- include ('partials/header.ejs') %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>

    <div class="ui text container ">
        <% if(error && error.length != 0) { %>
            <div class="ui negative message" style="text-align:center"><%= error %></div>
        <% } %>
        <% if(success && success.length != 0) { %>
            <div class="ui positive message" style="text-align:center"><%= success %></div>
        <% } %>
    </div>
 
    <div class="ui main text container segment">
        <form class="ui form" action="/blogs/register" method="POST">
            <h1 class="ui dividing center aligned header">Create an new account!</h1>
            <div class="field">
                <label class="labels">Username</label><span id="username"></span>
                <input type="text" name="username" placeholder="Enter username" required>
            </div>
            <div class="field">
                <label class="labels">Email</label><span id="email"></span>
                <input type="text" name="email" placeholder="example@gamil.com" required>
            </div>
            <div class="field">
                <label class="lables">Password</label><span id="password"></span>
                <input type="password" name="password" required>
            </div>
            <button class="fluid ui inverted big green button" type="submit">Register</button>
        </form>
    </div>
    
    <a href="<%= google_authentication_url %>">
        <img class="ui centered rounded image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRj_WW6thYh4psL1xxxgI7tw5ZS1ZqxIQFT_24hBa8UbN39vyVg&usqp=CAU" alt="Google login">
    </a>
    
    <script type="text/javascript" src="/scripts/register.js"></script>

<%- include ('partials/footer.ejs') %>
