<%- include ('./partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/show_user_blogs.css">

    <div class="ui main text container segment">
    <% for(var i = 0; i < blogs.length; i++) { %>
        <div class="ui huge header"><%= blogs[i].title %></div>
            <div class="ui top attached segment">
            <div class="item">
                <img class="ui medium left floated rounded image blog_image" 
                src='<%= blogs[i].image %>' alt='image url'>
                <div class="discription">
                     <p><%= blogs[i].content %></p>
                </div>
            </div>
            <div class="options">
                <div class="like">
                    <button class="ui primary button bl"> 
                        <i class="small thumbs up outline icon"></i> Like 
                    </button>
                </div>
                
                <div class="dislike">
                    <button class="ui primary button bd">
                        <i class="small thumbs down outline icon"></i> Dislike 
                    </button>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    
    <script type="text/javascript" src="/scripts/trending.js"></script>

<%- include ('./partials/footer.ejs') %>
