<%- include ('./partials/header.ejs')%>

    <link rel="stylesheet" type="text/css" href="/stylesheets/create_blog.css">
    
    <div class="ui main text container segment">
        <div class="ui huge header" id="title"> Edit Blog </div>
        
        <form class="ui form"
        action="/blogs/show_user_blogs/<%=pre_blog._id%>?_method=PUT" method="POST" >
            <div class="field">
                <div class = "data">
                    <label>Title</label>
                </div>
                <input name="blog[title]" placeholder="add title" type="text"
                value= "<%= pre_blog.title %>">
            </div>
            <div class="field">
                <div class = "data">
                    <label> Image URL </label>
                </div>
                <input name="blog[image]" placeholder="add image url" type="text"
                value="<%= pre_blog.image %>">
            </div>
            <div class="field">
                <div class = "data">
                    <label>Content</label>
                </div>
                <textarea name="blog[content]"><%= pre_blog.content %></textarea>
            </div>
            <button class="ui inverted big green button" id="add_blog"> Save Blog </button>
        </form>
    </div>
    
    <script type="text/javascript" src="/scripts/create_blog.js"></script>

<%- include ('./partials/footer.ejs')%>
